/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}


body {
  background: #fff;
  font-size: 20px; /* Set a default font size */
}

/* Navbar styles */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #156110;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav .logo img {
  width: 100%;
  height: auto;
  max-width: 100px;
  display: block;
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}

.nav .nav-links a {
  transition: all 0.2s linear;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}


@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 2px 0px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 254px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: rgba(17, 16, 29, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
    font-size: 20px;
  }
  .nav.openNav .nav-links {
    left: 0;
    z-index: 101;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 37px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 32px;
    right: 31px;
    color: #fff;
    font-size: 37px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

/* Slideshow Styles */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin-top: 77px;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 0;
}

.nav.openNav + .slideshow-container{
  margin-top: 177px;
  z-index: -1;
}

.mySlides {
  display: none;
}

.fade {
  animation: fade 2s ease-in-out infinite;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #2e6bb5;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Adjust dot position */
.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Additional styles for Click Me button */
.image-container {
  position: relative;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.imageButton {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 12vw;
  padding: 0.4em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.3vw;
}


/* Add these styles for the new sections */
.welcome {
  background-color: #fff;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex; /* Added */
  justify-content: space-between; /* Added */
  border-radius: 10px;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.presence {
  background-color: #fff;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex; /* Added */
  justify-content: space-between; /* Added */
  border-radius: 10px;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.welsec {
  max-width: 69%; /* Added */
}

.presec {
  max-width: 69%;
}

.presec h2{
  font-size: 30px;
}

.presence h3,
.presence p {
  max-width: 100%; /* Added */
  font-size: 1.20em;
}

.welcome h3,
.welcome p {
  max-width: 99%; /* Added */
}


.welcome img {
  max-width: 31%;
  height:auto; /* Added */
  border-radius: 20px; /* Added for a rounded corner effect */
}

.presence img {
  max-width: 31%;
  height:auto; /* Added */
  border-radius: 20px; /* Added for a rounded corner effect */
}

.mission,
.choose,
.contact-section {
  max-width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.presence h2{
  color: #3989eb;
}
.welcome h3,
.presence h3,
.mission h3,
.choose h3,
.contact-section h2 {
  color: #3989eb;
  font-size: 30px;
}

.welcome p,
.presence p,
.mission p,
.choose p {
  line-height: 1.6;
}

.contact-section p {
  margin-bottom: 20px;
}

.contact-section .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-section .cta-button:hover {
  background-color: #fff;
}

/* Common media query for all sections and slideshow container on smaller screens */
@media screen and (max-width: 768px) {
  /* Adjust margins for all sections */
  .welcome,
  .presence,
  .mission,
  .choose,
  .contact-section,
  .review{
    margin: 5px 5px; /* Updated margin for smaller screens */
    padding: 0px;
  }

  .slideshow-container {
    margin: 5px 5px; /* Updated margin for smaller screens */
    padding: 0px;
    max-width: 80%;
    position: relative;
    margin: auto;
    margin-top: 77px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;
  }

  /* Additional adjustments for specific sections if needed */
  .welcome {
    flex-direction: column;
  }

  .welsec,
  .welcome img,
  .presec,
  .presence img {
    max-width: 100%;
  }
}


/* Responsive font size adjustments */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  /* Add more adjustments as needed for other elements */
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }

  /* Add more adjustments as needed for other elements */
}

/* Add this style to change layout on smaller screens */
@media screen and (max-width: 768px) {
  .welcome {
    flex-direction: column;
  }

  .welsec,
  .welcome img {
    max-width: 100%;
  }

  .presence {
    flex-direction: column;
  }

  .presec,
  .presence img {
    max-width: 100%;
  }
}
/* Additional styles for the "Read More" link */
.paragraph  {
  max-height: none; /* Set the maximum height to show two lines initially */
  overflow: hidden;
}

.read-more-link {
  display: none; /* Initially hide the "Read More" link */
  color: #3989eb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .paragraph {
    max-height: none; /* Remove the maximum height on smaller screens */
  }

  .read-more-link {
    display: inline; /* Show the "Read More" link on smaller screens */
  }
}

/* Add this style to change layout on smaller screens */
@media screen and (max-width: 768px) {
  .welcome {
    flex-direction: column;
  }

  .welsec,
  .welcome img {
    max-width: 100%;
  }

  .presence {
    flex-direction: column;
  }

  .presec,
  .presence img {
    max-width: 100%;
  }
}


/* Add this style for the "Read Less" link */
.read-less-link {
  color: #e74c3c; /* Choose a color for the "Read Less" link */
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-top: 10px; /* Adjust the margin as needed */
}

.read-less-link:hover {
  text-decoration: underline;
}

.presec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.paragraph a {
  color: #ed700c; /* Replace with your desired green color code */
}

/* Adjust the Swiper container position */
.swiper-container {
  position: relative;
}

/* Position the pagination below the slides */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Style for active slide pagination */
.swiper-pagination-bullet-active {
  background-color: #156110; /* Set the active bullet color */
}

/* Add transition effect for pagination */
.swiper-pagination {
  transition: background-color 0.3s ease;
}

/* Hover effect for pagination */
.swiper-pagination:hover {
  background-color: none; /* Set the hover background color */
}

#review {
  background-color: #fff;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Add this to hide overflowing content */
}

#review h2 {
  color: #3989eb;
}

.swiper-container {
  margin-top: 20px;
  overflow: hidden;
  width: 100%; /* Add this to hide overflowing content */
}

.customer-review {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Add this to hide overflowing content */
}

.customer-review img {
  max-width: 100px; /* Adjust the maximum width for the avatar */
  border-radius: 50%;
  margin-bottom: 10px; /* Add margin at the bottom of the avatar */
}

.customer-review h3 {
  color: #333;
}

.customer-review p {
  line-height: 1.6;
  margin-bottom: 10px; /* Add margin at the bottom of the review text */
}

.rating {
  font-size: 20px;
  color: #f39c12;
  margin-top: 10px; /* Add margin at the top of the rating */
}

/* Add this style block in the head or in your stylesheet */
.contact-section {
  display: flex;
  flex-direction: row;
}

.contact-info {
  width: 60%;
  padding: 20px; /* Add padding for better visual appeal */
}

.map-container {
  width: 40%;
}

#map {
  height: 400px;
  width: 100%;
}

/* Add styles for the contact-info block */
.contact-info {
  display: flex;
  flex-direction: column; /* Stack elements vertically by default */
}

.social-links a {
  margin-right: 15px; /* Adjust the value to set the desired space between links */
}
.address, .social-links {
  width: 100%; /* Take up full width by default */
  margin-bottom: 20px; /* Add some spacing between the sections */
}

.social-links {
  display: flex;
  justify-content: center; /* Center social links horizontally */
}

.social-links img {
  width: 30px; /* Adjust the size as needed */
  height: auto;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .map-container {
      width: 100%; /* Take up full width on smaller screens */
      margin-bottom: 20px; /* Add some spacing between the map block and the other blocks */
  }

  .contact-info {
    display: none; /* Hide contact-info block on smaller screens */
  }
}




